@import '/src/assets/variables';

.forms {
  // width: 100%;
  padding: 0 25px 0 25px;
  display: grid;
  // min-width: 320px;
}


.title {
  margin-top: 100px;
  margin-bottom: 89px;
  font-weight: 600;
  font-size: clamp(24px,4vw,48px);
  color: #eff3ff;
  font-family: $fira-sans;

  @media (max-width: 370px) {
    font-weight: 500;
    font-size: 24px;
  }
}

.icon {
  display: none;

  @media (max-width: 370px) {
    display: inline-block;
  }
}

.title_wripper {
  @media (max-width: 370px) {
    display: flex;
    justify-content: space-between;
    min-width: 325px;
    padding: 0 15px 0 15px;
  }
}