@import '/src/assets/variables';

.form {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 60px 140px 25px 62px;
  gap: 40px;

  @media(max-width: 700px) {
    display: none;
  }
}

.form fieldset:nth-child(4) {
  grid-column: 1/4;
}


.button_forms {
  justify-self: center;
  grid-column-end: 3;
  grid-row-end: 5;
}


.checkbox {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}