@import '/src/assets/variables';

.input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: 300;
  font-size: 18px;
  color: #eff3ff;
  padding: 0 13px 0 13px;
  font-family: $fira-sans;

  &:focus {
    outline: none;
  }
}

.input::placeholder {
  color: $white;
}

.fieldset {
  border: 1.50px solid #9aa8ba;
  border-radius: 8px;
  width: 100%;
  padding-left: 15px;
}

.legend {
  font-weight: 300;
  font-size: 18px;
  color: #eff3ff;
  padding: 0 10px 0 10px;
}

.validation_message {
  color: red;
  font-size: 12px;
}