@import '/src/assets/variables';

.breadcrumbs {
  font-weight: 400;
  font-size: 18px;
  color: $breadcrumbs;
  display: flex;
  gap: 5px;
  width: 74%;
  min-width: 325px;
  margin: 0 auto;
}

.breadcrumbs div:last-child {
  color: $breadcrumbsAccent;
}